#Possible options: "republic", "globalise", "mondriaan", "translatin", "suriano", "hooft", "vangogh", "israels", "bc1900" or "brederode"
VITE_PROJECT=republic
VITE_TITLE='Textannoviz - Republic'
VITE_ROUTER_BASENAME=/