#Possible options: "republic", "globalise", "mondriaan", "translatin", "suriano", "hooft", "vangogh", "israels", "brederode", "oraties", "nvv" or "mechteldvangelre"
VITE_PROJECT=republic
VITE_ROUTER_BASENAME=/

#Possible options in .env.development.local:
VITE_BROCCOLI_PORT_VANGOGH=8072
VITE_BROCCOLI_PORT_MONDRIAN=8062
VITE_NGINX_PORT_VANGOGH=8076
VITE_NGINX_PORT_MONDRIAN=8066
