@import "../../tailwind.css";
@import "../kunstenaarsbrieven/base.css";

#page-chronology {
  h2 {
    margin-bottom: 0em;
  }

  .highlight-label {
    display: block;
    font-weight: bold;
    margin-top: 1.4rem;
    /* whitespace-pre-wrap turns the space after this block into an extra line */
    margin-bottom: -1lh;
    background-color: transparent;
  }
}

#page-terminology {
  .highlight-term {
    @apply mt-6 inline-block font-bold not-italic;
  }
}
