@import "../../tailwind.css";
@import "../kunstenaarsbrieven/base.css";

#page-chronology {
  h2 {
    margin-bottom: 0em;
  }

  .annotated-text {
    white-space: pre-line;
  }

  .highlight-label {
    display: block;
    font-weight: bold;
    margin-top: 1.4rem;
    background-color: transparent;
  }
}

#page-terminology {
  .highlight-term {
    @apply mt-6 inline-block font-bold not-italic;
  }
}
