@tailwind base;
@tailwind components;
@tailwind utilities;

.text-button,
.text-button:active,
.text-button:focus {
  border: none;
  outline: none;
  background: none;
}

@layer components {
  /* nested annotations markup */

  .segmented-line {
    display: block;
  }

  .fullNestedAnnotation {
    @apply leading-[4rem];
  }

  .annotationMarker {
    @apply relative pl-4 before:absolute before:inline-block before:-translate-x-4 before:translate-y-1;
  }

  /* start marker icons */
  .start-annotation,
  .annotationMarker {
    @apply relative before:absolute before:inline-block;
  }

  .depth-1.start-annotation {
    @apply inline-block before:relative;
  }

  .underlined-per.start-annotation,
  .underlined-per.annotationMarker {
    @apply before:content-[url('/src/assets/icon-annotation-person.svg')];
  }

  .underlined-hoe.start-annotation,
  .underlined-hoe.annotationMarker {
    @apply before:content-[url('/src/assets/icon-annotation-hoedanigheid.svg')];
  }

  .underlined-org.start-annotation,
  .underlined-org.annotationMarker {
    @apply before:content-[url('/src/assets/icon-annotation-organisation.svg')];
  }

  .underlined-com.start-annotation,
  .underlined-com.annotationMarker {
    @apply before:content-[url('/src/assets/icon-annotation-commision.svg')];
  }

  .underlined-loc.start-annotation,
  .underlined-loc.annotationMarker {
    @apply before:content-[url('/src/assets/icon-annotation-location.svg')];
  }

  /* show levels */
  .fullNestedAnnotation .annotated-segment {
    @apply relative;
  }

  /* layer 1 */
  .fullNestedAnnotation .depth-1 {
    @apply inline border-b-0 border-t-0;
  }
  .fullNestedAnnotation .depth-1.underlined-per {
    @apply bg-annotation-per500/10;
  }
  .fullNestedAnnotation .depth-1.underlined-hoe {
    @apply bg-annotation-hoe500/10;
  }
  .fullNestedAnnotation .depth-1.underlined-com {
    @apply bg-annotation-com500/10;
  }
  .fullNestedAnnotation .depth-1.underlined-loc {
    @apply bg-annotation-loc500/10;
  }
  .fullNestedAnnotation .depth-1.underlined-org {
    @apply bg-annotation-org500/10;
  }

  /* layer 2 */
  .fullNestedAnnotation .depth-2 {
    @apply inline -translate-x-9 border-b-0 border-t-4 bg-none;
  }
  .fullNestedAnnotation .depth-2.underlined-per {
    @apply border-t-annotation-per500 bg-none;
  }
  .fullNestedAnnotation .depth-2.underlined-hoe {
    @apply border-t-annotation-hoe500 bg-none;
  }
  .fullNestedAnnotation .depth-2.underlined-com {
    @apply border-t-annotation-com500 bg-none;
  }
  .fullNestedAnnotation .depth-2.underlined-loc {
    @apply border-t-annotation-loc500 bg-none;
  }
  .fullNestedAnnotation .depth-2.underlined-org {
    @apply border-t-annotation-org500 bg-none;
  }

  .fullNestedAnnotation .depth-2.start-annotation {
    @apply before:-top-6 before:-translate-y-6;
  }

  /* layer 3 */
  .fullNestedAnnotation .depth-3 {
    @apply inline border-b-4 border-t-0 bg-none;
  }
  .fullNestedAnnotation .depth-3.underlined-per {
    @apply border-b-annotation-per500 bg-none;
  }
  .fullNestedAnnotation .depth-3.underlined-hoe {
    @apply border-b-annotation-hoe500 bg-none;
  }
  .fullNestedAnnotation .depth-3.underlined-com {
    @apply border-b-annotation-com500 bg-none;
  }
  .fullNestedAnnotation .depth-3.underlined-loc {
    @apply border-b-annotation-loc500 bg-none;
  }
  .fullNestedAnnotation .depth-3.underlined-org {
    @apply border-b-annotation-org500 bg-none;
  }
  .fullNestedAnnotation .depth-3.start-annotation {
    @apply before:-top-5 before:translate-y-7;
  }

  /* layer 4 */
  .fullNestedAnnotation .depth-4 {
    @apply inline border-b-0 border-t-4 bg-none pt-1;
  }
  .fullNestedAnnotation .depth-4.underlined-per {
    @apply border-t-annotation-per500 bg-none;
  }
  .fullNestedAnnotation .annotated-segment .depth-4.underlined-hoe {
    @apply border-t-annotation-hoe500 bg-none;
  }
  .fullNestedAnnotation .annotated-segment .depth-4.underlined-com {
    @apply border-t-annotation-com500 bg-none;
  }
  .fullNestedAnnotation .depth-4.underlined-loc {
    @apply border-t-annotation-loc500 bg-none;
  }
  .fullNestedAnnotation .depth-4.underlined-org {
    @apply border-t-annotation-org500 bg-none;
  }

  .fullNestedAnnotation .depth-4.start-annotation {
    @apply before:-top-6 before:-translate-y-6;
  }

  /* layer 5 */
  .fullNestedAnnotation .depth-5 {
    @apply inline border-b-4 border-t-0 bg-none pb-1;
  }
  .fullNestedAnnotation .depth-5.underlined-per {
    @apply border-b-annotation-per500 bg-none;
  }
  .fullNestedAnnotation .depth-5.underlined-hoe {
    @apply border-b-annotation-hoe500 bg-none;
  }
  .fullNestedAnnotation .depth-5.underlined-com {
    @apply border-b-annotation-com500 bg-none;
  }
  .fullNestedAnnotation .depth-5.underlined-loc {
    @apply border-b-annotation-loc500 bg-none;
  }
  .fullNestedAnnotation .depth-5.underlined-org {
    @apply border-b-annotation-org500 bg-none;
  }
  .fullNestedAnnotation .depth-5.start-annotation {
    @apply before:-top-5 before:translate-y-10;
  }

  /* annotations inline */
  .closedNestedAnnotation .annotated-segment > span {
    @apply inline border-b-0 border-t-0;
  }
  .closedNestedAnnotation .depth-2 {
    @apply border-b-1 border-dashed border-neutral-600;
  }
  .closedNestedAnnotation .annotated-segment > .nested-annotation {
    @apply inline;
  }
  .closedNestedAnnotation .annotated-segment > .underlined-per {
    @apply bg-annotation-per100 hover:bg-annotation-per500/30;
  }
  .closedNestedAnnotation .annotated-segment > .underlined-hoe {
    @apply bg-annotation-hoe100;
  }
  .closedNestedAnnotation .annotated-segment > .underlined-com {
    @apply bg-annotation-com100;
  }
  .closedNestedAnnotation .annotated-segment > .underlined-loc {
    @apply bg-annotation-loc100;
  }
  .closedNestedAnnotation .annotated-segment > .underlined-org {
    @apply bg-annotation-org100;
  }

  .depth-1.start-annotation {
    @apply rounded-l;
  }

  .depth-1.end-annotation {
    @apply rounded-r;
  }

  .closedNestedAnnotation {
    @apply relative shadow-none
        transition before:absolute before:-top-7 before:inline-block before:rounded-t before:bg-neutral-700 before:font-sans
        before:text-sm before:text-white hover:shadow hover:before:w-[160px] hover:before:px-2 hover:before:py-1 hover:before:content-["Click_for_detailed_view"];
  }

  /* remove nested start icon */
  .closedNestedAnnotation .depth-2.start-annotation {
    @apply before:content-[url('')];
  }
  .closedNestedAnnotation .depth-3.start-annotation {
    @apply before:content-[url('')];
  }
  .closedNestedAnnotation .depth-4.start-annotation {
    @apply before:content-[url('')];
  }
  .closedNestedAnnotation .depth-5.start-annotation {
    @apply before:content-[url('')];
  }

  /* Marker annotations */
  .marker {
    color: #008a8a;
    &:hover {
      text-decoration: underline;
    }
  }
}

@layer utilities {
  .bigLine {
    line-height: 3rem;
  }
}

/**
 * Modal
 * source: https://react-spectrum.adobe.com/react-aria/Modal.html
 */
.react-aria-ModalOverlay {
  padding-top: 1em;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background: rgba(0 0 0 / 0.5);
  display: flex;
  justify-content: center;
  z-index: 100;

  &[data-entering] {
    animation: modal-fade 200ms;
  }

  &[data-exiting] {
    animation: modal-fade 150ms reverse ease-in;
  }
}

.react-aria-Modal {
  height: fit-content;

  box-shadow: 0 8px 20px rgba(0 0 0 / 0.1);

  max-width: 300px;

  &[data-entering] {
    animation: modal-zoom 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .react-aria-TextField {
    margin-bottom: 8px;
  }
}

.scrollable-modal-content {
  overflow: scroll;
  max-height: 100vh;
}

@keyframes modal-fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes modal-zoom {
  from {
    transform: scale(0.8);
  }

  to {
    transform: scale(1);
  }
}

/**
 * Tooltip
 * source: https://react-spectrum.adobe.com/react-aria/Tooltip.html
 */
.react-aria-Tooltip {
  box-shadow: 0 0 10px rgba(0 0 0 / 0.2);
  border-radius: 4px;
  background: white;
  color: black;
  forced-color-adjust: none;
  outline: none;
  padding: 2px 8px;
  max-width: 300px;
  /* fixes FF gap */
  transform: translate3d(0, 0, 0);

  &[data-placement="top"] {
    margin-bottom: 8px;
    --origin: translateY(4px);
  }

  &[data-placement="bottom"] {
    margin-top: 8px;
    --origin: translateY(-4px);
    & .react-aria-OverlayArrow svg {
      transform: rotate(180deg);
    }
  }

  &[data-placement="right"] {
    margin-left: 8px;
    --origin: translateX(-4px);
    & .react-aria-OverlayArrow svg {
      transform: rotate(90deg);
    }
  }

  &[data-placement="left"] {
    margin-right: 8px;
    --origin: translateX(4px);
    & .react-aria-OverlayArrow svg {
      transform: rotate(-90deg);
    }
  }

  & .react-aria-OverlayArrow svg {
    display: block;
    fill: white;
  }

  &[data-entering] {
    animation: slide 200ms;
  }

  &[data-exiting] {
    animation: slide 200ms reverse ease-in;
  }
}
@keyframes slide {
  from {
    transform: var(--origin);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
