.highlight-head {
  font-weight: bold;
}
.highlight-speaker {
  color: #777;
  text-decoration: underline;
}
.highlight-bold {
  font-weight: bold;
}
.highlight-quote {
  font-style: italic;
  padding-left: 1em;
}
