.skeleton-animation {
  position: relative;
  overflow: hidden;
  background-color: #e5e7eb;
  border-radius: 0.75rem;
}

.skeleton-animation::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    90deg,
    transparent,
    theme("colors.gray.100"),
    transparent
  );
  animation: skeleton-shimmer 1.25s infinite;
}

@keyframes skeleton-shimmer {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}
