#row {
    display: flex;
    flex-direction: row;
}

#mirador {
    position: relative;
    min-width: 700px;
    height: 800px;
}

#text {
    min-width: 300px;
    height: 800px;
    padding: 0.7em;
    overflow: auto;
    white-space: pre-wrap;
}

#annotation {
    min-width: 400px;
    height: 800px;
    padding: 0.7em;
    overflow: auto;
    white-space: pre-wrap;
}