.highlight-italics {
  font-style: italic;
}

.highlight-tei-head {
  font-size: 1.17rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  /* display: block; */
}

.highlight-caption {
  font-size: 0.8rem;
  /* margin-bottom: 1rem; */
  /* display: block; */
}

.highlight-tei-label {
  float: left;
  width: 125px;
}
.highlight-tei-quote {
  text-align: right;
  /* display: block; */
}

.highlight-tei-item {
  overflow: hidden;
}

.highlight-super {
  vertical-align: super;
  font-size: 0.7em;
}

.highlight-blockletter {
  text-transform: uppercase;
}

img {
  margin-bottom: 0 !important;
}

/* Israels specific styling for AnnotatedText component */

.closedNestedAnnotation .annotated-segment > .annotated-art {
  @apply bg-[#F0ECF7];
}

.closedNestedAnnotation .annotated-segment > .annotated-ref {
  @apply bg-[#afddff];
}

.fullNestedAnnotation .depth-2.annotated-art {
  @apply bg-[#F0ECF7];
}

.fullNestedAnnotation .depth-1.annotated-ref {
  @apply bg-[#afddff];
}

/* Israels bibliography styling */
.rend_italics {
  font-style: italic;
}

.rend_indent {
  margin-bottom: 2rem;
}

.list_gloss,
.listBibl {
  margin-bottom: 2rem;
  margin-left: 1rem;
}

.label {
  font-weight: bold;
  margin-left: -1rem;
}

.title_m,
.title_j {
  font-style: italic;
}
