@tailwind base;
@tailwind components;
@tailwind utilities;

.highlight-italics {
  font-style: italic;
}

.highlight-tei-head {
  font-size: 0.8em;
  font-weight: bold;
  color: #aaa;
  text-align: center;
  display: block;
  line-height: 5em;
  text-transform: uppercase;
}

.highlight-super {
  vertical-align: super;
  font-size: 0.7em;
}

.highlight-blockletter {
  text-transform: uppercase;
}

.closedNestedAnnotation .annotated-segment > .annotated-art {
  @apply bg-[#F0ECF7];
}

.closedNestedAnnotation .annotated-segment > .annotated-ref {
  @apply bg-[#afddff];
}

.fullNestedAnnotation .depth-2.annotated-art {
  @apply bg-[#F0ECF7];
}
